@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist';
  src: url(static/font/GeistVariableVF.ttf);
}
@font-face {
  font-family: 'PerfectlyNineties-Regular';
  src: url(static/font/PerfectlyNineties-Regular.otf);
}
